<div class="product-post">
    <div class="product-post-header">
        <div class="pull-left"  id="name">{{Name}}</div>  
        <div class="pull-right" id="price">{{Price}}<span class="apex">€</span></div>
        <div class="pull-right" id="qt-progress">{{totalQt}}/{{Minqt}} - </div>
    </div>
    <a onclick="utils.goProductDetail({{Id}})">
        <div class="product-post-image-thumbnail">
            <img src="{{picture}}" class="img-responsive" >
        </div>
    </a>
    <div class="product-post-body">
            {{{Description}}}
    </div>
</div>