
<li class="product-post">
    <div class="product-post-image-thumbnail" 
         onclick="utils.goProductDetail({{Id}})">
        <img src="{{picture}}">
    </div>
    <div class="product-post-header">
        <div class="product-post-name element">{{Name}}</div>  
        <div class="product-post-price element">{{Price}}
            <span class="apex">€</span>
        </div>
        {{!-- <div class="product-post-qt-progress">
            {{totalQt}}/{{Minqt}}
        </div> --}}
    </div>
    <div class="product-post-menu">
        <ul class="product-post-menu-options">
            <li onclick="WallController.addPreference({{Id}},{{Minqt}},this)">
                    <i class = "like" class="glyphicon glyphicon-heart fw-menu-icon {{prefer}}"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="product-post-body">
            {{{Description}}}
    </div>
</li>