<div id="detail-menu">
    <div class="detail-menu-section" id="price-section">
    {{#if logged}}
        <span class = "detail-progress-bar">
            <span class = "progress" 
              data-unit = "1"
              data-progress = "{{totalQt}}" 
              data-total = "{{Minqt}}">
            </span>    
        </span>
        <span class = " detail-progress-bar preview-bar">
            <span class = "progress" 
              data-unit = "1"
              data-progress = "{{totalQt}}" 
              data-total = "{{Minqt}}">
            </span>    
        </span>
    {{/if}}
        <div class="price-detail">
            <ul class="number-block" id="unit-price">
                <li>{{Price}}<span class="apex">€</span></li>
                <li><span class ="number-description">prezzo unità</span></li>
            </ul>
        </div>
        {{!-- Barra di caricamento --}}
        <div class="price-detail">
            <ul class="number-block" id="min-order-price">
                <li>{{math Price '*' Minqt}}<span class="apex">€</span></li>
                <li><span class ="number-description">ordine minimo</span></li>
            </ul>
        </div>
    </div>
    <div class="detail-menu-section" id ="menu-close">
        <span class="foowd-icons foowd-icon-close" id ="close-detail" onClick="utils.goTo('')"></span>
    </div>
</div>
<div id="product-menu">
    <div class="product-menu-section" id="product-info">
        <div class="product-info-menu" id = "section1">

            <div class="menu-section" id="product-name">
                {{Name}}
            </div>
            
                        {{#if logged}}
            
            {{#unless group}}
             <ul class="action-icons menu-section" id = "preference-action">
                <li class="action-heart">
                    <i  class="foowd-icons foowd-icon-heart-edge" 
                        onClick = "ProductDetailController.addPreference({{Id}}, 1)"></i>
                </li>
                <li class="action-minus">
                    <i class="foowd-icons foowd-icon-minus fw-menu-icon" 
                       onClick = "ProductDetailController.addPreference({{Id}}, -1)"></i>
                </li>
            </ul>
            {{/unless}}
                        {{/if}}
            

        </div>
        <div class="product-info-menu" id = "section2">
            <div id="product-description">
               {{{Description}}} 
            </div>
            <div id="commercial-menu">
            {{#if logged}}
                <div class = "commercial-menu-item">
                    <div class="item-container">
                        <span class="foowd-icons foowd-icon-heart-edge item-icon">
                        </span>
                        <span class = "item-title">carrello</span>
                        <span class = "item-data">x{{totalQt}}</span>
                    </div>
                </div>
                <div class = "commercial-menu-item">
                    <div class="item-container">
                        <span class="foowd-icons foowd-icon-cart item-icon"></span>
                        <span class = "item-title">tot</span>
                        <span class = "item-data">
                            {{math totalQt '*' Price}}
                            <span class = "apex">€</span>
                        </span>
                    </div>
                </div>
                
                {{#canbuy totalQt Minqt}}
                    <div class = "commercial-menu-item">
                        <ul class="action-icons menu-section" id = "preference-action">
                            <li class="action-buy">
                                <i class="foowd-icons foowd-icon-plus" 
                                onClick = "ProductDetailController.purchase({{Id}},'{{prefer.prefers}}')"></i>
                            </li>
                        </ul>
                    </div>
                {{/canbuy}}

            {{/if}}
            </div>
        </div>
    </div>
    <div class = "product-menu-section" id="product-picture">
       <img src="{{picture}}"/>
    </div>
</div>
