<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">{{Name}}</div>  
            <div class="pull-right">{{totalQt}}/{{Minqt}} - {{Price}}<span class="apex">€</span></div>
        </div>
        <div class="panel-thumbnail">
            <img src="http://lorempixel.com/320/270/food" class="img-responsive">
            <div class="product-menu">
                <ul class="product-menu-options">
                    <li>
                        <a onclick="foowd.addPreference({{Id}},{{Minqt}})">
                            <i class="glyphicon glyphicon-heart fw-menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <p>
                {{Description}}
            </p>
        </div>
    </div>
</div>