
<div class="product-post">
    <div class="product-post-header">
        <div class="pull-left"  id="name">{{Name}}</div>  
        <div class="pull-right" id="price">{{Price}}<span class="apex">€</span></div>
        <div class="pull-right" id="qt-progress">{{totalQt}}/{{Minqt}} - </div>
    </div>
    <a onclick="utils.goProductDetail({{Id}})">
        <div class="product-post-image-thumbnail">
            <img src="{{picture}}" >
        </div>
    </a>
    <div class="product-post-menu">
        <ul class="product-post-menu-options">
            <li>
                <a onclick="WallController.addPreference({{Id}},{{Minqt}},this)">
                    <i id = "like" class="glyphicon glyphicon-heart fw-menu-icon {{prefer}}"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="product-post-body">
            {{{Description}}}
    </div>
</div>