
<li class="product-post">
    <div class="product-post-image-thumbnail" 
         onclick="utils.goProductDetail({{Id}})">
        <img src="{{picture}}">
    </div>
    <div class="product-post-header">
        <div class="product-post-name">{{Name}}</div>  
        <div class="product-post-price">{{Price}}
            <span class="apex">€</span>
        </div>
        {{!-- <div class="product-post-qt-progress">
            {{totalQt}}/{{Minqt}}
        </div> --}}
    </div>
    <div class="product-post-menu">
        <div onclick="WallController.addPreference({{Id}},{{Quota}},this)">
           <span class = "like glyphicon glyphicon-heart fw-menu-icon {{prefer}}">
           </span>
        </div>
    </div>
    <div class="product-post-body">
            {{{Description}}}
    </div>
</li>