<li class="product-post">
    <div class="post-container" data-product-id="{{Id}}">
        <a class="product-post-main-frame" href="{{productDetailUri}}">
            <div class="product-post-image-thumbnail">
                <figure class="tint" >
                    <img src="{{picture}}">
                </figure>
                <!-- Questo span permette ai contenuti di allinearsi con la larghezza dell'immagine
                In pratica detta quanto sia la larghezza del div contenitore (vedi WallController.adjustOverlays--> 
                  <span class="heart-overlay">
                </span>
            </div>
            <div class="product-post-header">
                <div class="product-post-name">
                    <span class="product-post-title">{{Name}}</span>
                    <br/>
                    <br/>
                    <span class="product-post-unit-price">
                        {{Quota}} {{Unit}} {{UnitExtra}}
                        <br/>
                        {{Price}}€
                    </span>
                </div>
                {{#if logged}}
                <div class="product-post-progress-price">
                   {{math totalQt '*' Price}}
                   <span class="apex">€</span>
                </div>
                {{/if}}
            </div>
            <div class="product-post-footer">
                <div class="product-post-company" onclick="window.go2ProducerSite({{Publisher}},event)">
                       <span  class="foowd-icons foowd-icon-len">
                       </span>
                       <span class="product-company-name">
                        {{{Company}}}
                       </span>
                </div>
                {{#if logged}}
                <span class="mini-progress-bar">
                    <span class="mini-progress" data-unit="1" data-progress="{{totalQt}}" data-total="{{Minqt}}"></span>
                </span>
                {{/if}}
            </div>
        </a>
        <div class="product-post-description">
            {{{Description}}}
        </div>
        <div class="product-post-tags">
                {{!-- 
                    prima vi era la descrizione tagliata
                    {{{shortDesc Description}}}
                --}}
                {{{listTags Tag}}}
        </div>
    </div>
</li>