<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">{{Name}}</div>  
            <div class="pull-right">{{totalQt}}/{{Minqt}} - {{Price}}<span class="apex">€</span></div>
        </div>
        <div class="panel-thumbnail">
            <img src="{{picture}}" class="img-responsive" onClick="utils.goProductDetail({{Id}})">
            <div class="product-menu">
                <ul class="product-menu-options">
                    <li>
                        <a onclick="utils.addPreference({{Id}},{{Minqt}},this)">
                            <i id = "like" class="glyphicon glyphicon-heart fw-menu-icon {{prefer}}"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <p>
                {{{Description}}}
            </p>
        </div>
    </div>
</div>