
<li class="product-post">
    <div class="product-post-image-thumbnail" 
         onclick="utils.goProductDetail({{Id}})">
        <img src="{{picture}}">
        <div class="heart-overlay"></div>
    </div>
    <div class="product-post-header">
        <div class="product-post-name">
            {{Name}}
            <br/>
            <br/>
            <span class="product-post-unit-price">
                {{Quota}} {{Unit}} {{UnitExtra}}
                <br/>
                {{Price}}€
            </span>
        </div>  
        <div class="product-post-progress-price">{{Price}}
            <span class="apex">€</span>
        </div>
        {{!-- <div class="product-post-qt-progress">
            {{totalQt}}/{{Minqt}}
        </div> --}}
    </div>
    <div class="product-post-body">
            {{{Description}}}
    </div>
</li>