<li class="product-post">
    <div class="post-container" onclick="utils.go2('detail', 'productId', {{Id}},event)">
        <div class="product-post-image-thumbnail">
            <figure class="tint" >
                <img src="{{picture}}">
            </figure>
            <!-- Questo span permette ai contenuti di allinearsi con la larghezza dell'immagine
            In pratica detta quanto sia la larghezza del div contenitore (vedi WallController.adjustOverlays--> 
              <span class="heart-overlay"
                  >
            </span>
             <div class="product-post-menu">
                <div class="logo" onclick="window.go2ProducerSite({{Publisher}},event)">
                   <span class = "foowd-icons foowd-icon-blade">
                   </span>
                </div>
            </div>
        </div>
        <div class="product-post-header">
            <div class="product-post-name">
                {{Name}}
                <br/>
                <br/>
                <span class="product-post-unit-price">
                    {{Quota}} {{Unit}} {{UnitExtra}}
                    <br/>
                    {{Price}}€
                </span>
            </div>
            {{#if logged}}
                <span class="mini-progress-bar">
                    <span class="mini-progress" data-unit="1" data-progress="{{totalQt}}" data-total="{{Minqt}}"></span>
                </span>  
                <div class="product-post-progress-price">
                {{math totalQt '*' Price}}
                    <span class="apex">€</span>
                </div>
            {{/if}}
        </div>
        <div class="product-post-body">
                {{{shortDesc Description}}}
        </div>
    </div>
</li>