<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">{{Name}}</div>  
            <div class="pull-right">x/{{Minqt}} - {{Price}}<span class="apex">€</span></div>
        </div>
        <div class="panel-thumbnail">
            <img src="{{picture}}" class="img-responsive">
            <div class="product-menu">
                
            </div>
        </div>
        <div class="panel-body">
            <p>
                {{{Description}}}
            </p>
        </div>
    </div>
</div>