{{#if totalQt}}
    <div class="preference">
       <span class = "preference-progress-bar">
            <span class = "progress" 
              data-unit = "1"
              data-progress = "{{offer.actualProgress}}" 
              data-total = "{{offer.totalProgress}}">
            </span>    
        </span>
        <div class="user-preference">
            <div class="user-preference-section">
                <a href="{{offer.detailUri}}">
                <img src="{{offer.picture}}" class = "user-preference-image" 
                     onclick="utils.go2('detail', 'productId',{{offer.Id}},event)"> 
                     </a>
            </div>
            <div class="user-preference-name user-preference-section">
                <ul class="number-block">
                    <li>{{offer.Name}}</li>
                    <li><span class="product-company">{{{offer.Company}}}</span></li>
                    {{!-- <li><span class ="number-description">Pescheria Napoletana SRL</span></li> --}}
                </ul>
            </div>
            <div class="user-preference-details user-preference-section">
                <ul class="number-block preference-detail">
                    <li>{{offer.Price}}€</li>
                    <li><span class ="number-description">cadauno</span></li>
                </ul>
                <ul class="number-block preference-detail">
                    <li>x{{totalQt}}</li>
                    <li><span class ="number-description">carrello</span></li>
                </ul>
                <ul class="number-block preference-detail">
                    <li>{{math totalQt '*' offer.Price}}€</li>
                    <li><span class ="number-description">tot.spesa</span></li>
                </ul>
            </div>
            <div class="user-preference-actions user-preference-section">
                <ul class="action-icons menu-section" id = "preference-action">
                {{#canbuy offer.actualProgress offer.totalProgress}}
                    <li class="btn-buy" data-offer-id="{{offer.Id}}" data-offer-prefers="{{offer.prefers}}">
                        <i class="btn-buy-icon foowd-icons foowd-icon-cart"></i>
                    </li>
                {{/canbuy}}
         	   {{!-- {{#unless group}} --}}
                
                    <li class="action-heart-border">
                        <i  class="foowd-icons foowd-icon-plus" 
                            onClick = "UserBoardController.addPreference({{offer.Id}}, 1)"></i>
                    </li>
                    <li class="action-minus">
                        <i class="foowd-icons foowd-icon-minus fw-menu-icon" 
                           onClick = "UserBoardController.addPreference({{offer.Id}}, -1)"></i>
                    </li>
           		 {{!-- {{/unless}} --}}
                </ul>
            </div>
        </div>
    </div>
{{/if}}